#harry, #ron, #hermione {
  display: none;
}

body {
  background-image: url("../img/hogwarts.jpg");
  background-repeat: no-repeat;
  background-position: center-top fixed;
  background-size: cover;
  background-color: black;
}

.container-header img{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 200px;
}

.container {
  margin-top: 30px;
  padding: 40px;
  background-color: beige;
  max-width: 600px;
}

h1 {
  font-family: fantasy;
  text-align: center;
}

#hermione img {
  max-width: 500px;
}
